# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows System Files
# =========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/